---
import p12 from "../../assets/team/d12.png";

const PERSONAL_INFO = {
  name: "Kobe Bryant",
  birth_date: "1978-08-23",
  death_date: "2020-01-26",
  avatar: p12.src,
  about: " Kobe Bryant, a basketball legend, was born in 1978. Drafted in 1996, he spent 20 seasons with the Lakers, winning 5 championships. His Mamba Mentality inspired many. ",
} as const;

const { birth_date,death_date, name, avatar, about } = PERSONAL_INFO;
---
<div class="flex flex-col justify-between">
    <div class="flex flex-col items-center align-middle">
        <div class="mx-4 w-fit rounded-xl">
            <div class="max-w-screen-lg px-4 md:px-8">
                <div class="grid items-center gap-8 sm:grid-cols-2">
                    <div class="flex flex-col mr-5 items-center justify-center sm:items-start" id="contentGrid">
                        <p class="mt-6 mb-4 text-sm font-semibold text-darkgray z-[1] md:text-base">
                            {birth_date} ~ {death_date}
                        </p>
                        <h1 class="mb-4 text-center text-2xl font-bold text-black z-[1] sm:text-left md:text-3xl">
                            {name}
                        </h1>

                        <p class="mb-8 text-center text-black z-[1] sm:text-left md:text-lg">
                            {about}
                        </p>
                    </div>

                    <div class="relative mx-auto h-fit max-w-xs max-h-xs overflow-hidden rounded-full bg-gray-100 object-cover object-center shadow-lg sm:max-w-md sm:max-h-md">
                        <img
                            src={avatar}
                            alt="Portrait"
                            class="h-full w-full object-cover object-center"
                        />
                    </div>
                </div>
                <div class="absolute left-0 rounded-[24px] w-1/2 top-1/2 -translate-y-1/2 bg-white/85 z-[0] transition-all" id="backgroundLayer"></div>
            </div>
        </div>
    </div>
</div>

<script>
    function updateBackgroundHeight() {
        const grid = document.getElementById('contentGrid');
        const background = document.getElementById('backgroundLayer');
        
        if (grid && background) {
                const gridHeight = grid.offsetHeight;
            background.style.height = `${gridHeight + 30}px`;
        }
    }
    
    document.addEventListener('DOMContentLoaded', () => {
        updateBackgroundHeight();
    });
</script>