---
import { Image, imageConfig } from "astro:assets";
import Card from "../ui/Card.astro";
import Section from "./Section.astro";

import { apiRequest } from '../../utils/api';


const cards = await apiRequest(
        "/history",
        "GET",
        {},
        false
      )|| [{
    index: 0,
    data: "Emperor of the Eastern Roman Empire. (died in 450)",
    name: "Theodosius II",
    type: 2,
    year: "401",
  }];


import larrow from "../../assets/icon3.svg";
import SectionTitle from "../ui/SectionTitle.astro";
import { year } from "astro:schema";
---

<Section id="cases">
  <SectionTitle
    sectionTitle="Today in History"
    data="Journey through time with significant births and deaths that shaped history on this calendar year"
  />
  <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-4 mb-10">
    {
      cards.map((card) => (
      <Card>
      <div class="flex p-[60px] h-full bg-dark text-gray rounded-[45px] m-[1px] flex-col">
        <div class="flex justify-between items-start">
          {/* left upper corner: Name */}
          <h1 class="text-4xl font-bold">{card.name}</h1>
          {/* right upper corner: state Dead or Born */}
          {/* <h2 class="text-2xl font-semibold">{card.type}</h2> */}
          <div class="flex-shrink-0">
            <img
              src={
                card.type === 2
                  ? "/images/sun.svg"
                  : "/images/skull.svg"
              }
              alt={card.type}
              class="h-8 w-8"
            />
          </div>
        </div>
        {/* small font: year */}
        <p class="text-sm text-gray-400">{card.year}</p>
        {/* middle font: data */}
        <p class="text-lg mt-4">{card.data}</p>
        <a href=`https://en.wikipedia.org/wiki/${card.name}` target="_blank" class="flex items-center gap-[15px] mt-4">
          <span class="text-green">Wiki Info</span>
          <picture>
            <Image src={larrow} alt="Arrow pointing up right" />
          </picture>
        </a>
      </div>
    </Card>
      ))
    }
  </div>
</Section>