---
import { Image, imageConfig } from "astro:assets";
import Card from "../ui/Card.astro";
import Section from "./Section.astro";

const cards = [
  {
    index: 0,
    description:
      "Legendary NBA professional basketball player (born in 1978)",
    name:
      "Kobe",
    status:
      "",
    date:
      "1997",
    link: "https://google.com",
  },
  {
    index: 1,
    description:
      "Legendary NBA professional basketball player (born in 1978)",
    name:
      "Kobe",
    status:
      "",
    date:
      "1997",
    link: "https://google.com",
  },
  {
    index: 2,
    description:
      "Legendary NBA professional basketball player (born in 1978)",
    name:
      "Kobe",
    status:
      "Born",
    date:
      "1997",
    link: "https://google.com",
  },
];

import larrow from "../../assets/icon3.svg";
import SectionTitle from "../ui/SectionTitle.astro";
import { date } from "astro:schema";
---

<Section id="cases">
  <SectionTitle
    sectionTitle="Case Studies"
    description="Explore Real-Life Examples of Our Proven Digital Marketing Success through Our Case Studies"
  />
  <div class="flex flex-col lg:flex-row justify-between rounded-[45px] p-1 mb-[30px]">
    {
      cards.map((card) => (
      <Card>
      <div class="flex p-[60px] h-full bg-dark text-gray rounded-[45px] m-[1px] flex-col">
        <div class="flex justify-between items-center">
          {/* left upper corner: Name */}
          <h1 class="text-4xl font-bold">{card.name}</h1>
          {/* right upper corner: state Dead or Born */}
          {/* <h2 class="text-2xl font-semibold">{card.status}</h2> */}
          <div>
            <img
              src={
                card.status === "Born"
                  ? "/images/sun.svg"
                  : "/images/skull.svg"
              }
              alt={card.status}
              class="h-8 w-8"
            />
          </div>
        </div>
        {/* small font: date */}
        <p class="text-sm text-gray-400">{card.date}</p>
        {/* middle font: description */}
        <p class="text-lg mt-4">{card.description}</p>
        <a href={card.link} class="flex items-center gap-[15px] mt-4">
          <span class="text-green">Wiki Info</span>
          <picture>
            <Image src={larrow} alt="Arrow pointing up right" />
          </picture>
        </a>
      </div>
    </Card>
      ))
    }
  </div>
</Section>