---
import { getYiJiData } from "../../utils/huangli.js";
import Card from "../ui/Card.astro";

const today = new Date();
const dateNumber = today.getDate(); // date
const monthNumber = today.getMonth() + 1;
const weekDay = ["Sun", "Mon", "Tues", "Wed", "Thur", "Fri", "Sat"][today.getDay()];
const year = today.getFullYear();

// Obtain corresponding "Yi" and "Ji" data
// dynamically generated based on dates or solar terms
const { yi, ji } = getYiJiData(today);
---
<section id="huangli" class="py-10 px-6 flex justify-center items-center">
  <Card>
    <h2 class="text-2xl font-semibold text-center text-gray-800 mb-6 w-full">Traditional Chinese Almanac</h2>

    <!-- stretch container -->
    <div class="flex flex-wrap justify-center items-stretch items-center gap-4 w-full">

      <!-- Suitable Section -->
      <div class="bg-white shadow-md rounded-[20px] border border-gray-200 hover:shadow-lg transition w-64 p-4 flex flex-col items-center">
        <h3 class="text-lg font-semibold text-blue-600 text-center">Suitable</h3>
        <div class="flex flex-wrap justify-center gap-2 mt-2">
          {yi.map(item => <span class="bg-black-100 px-3 py-1 rounded-lg w-full text-center">{item}</span>)}
        </div>
      </div>

      <!-- Date Section -->
      <div class="bg-gray-100 shadow-md rounded-[20px] border border-gray-200 hover:shadow-lg transition w-64 p-4 flex flex-col items-center">

        <div class="mt-4">
          <img
            src="../../../public/images/calendar.png"
            alt="Image description"
            class="w-20 h-20 object-cover rounded-full mx-auto"
            style="filter: grayscale(100%);"
          />
        </div>
        <div class="text-center">
          <div class="text-4xl font-bold text-black">
            {monthNumber} <span class="inline-block text-xl font-bold text-black transform -translate-y-1.5 mx-1">|</span> {dateNumber}
          </div>
          <div class="text-lg text-gray-600 mt-1">{weekDay}</div>
          <div class="text-md text-gray-800 mt-1">{year}</div>
        </div>
      </div>

      <!-- Avoid Section -->
      <div class="bg-white shadow-md rounded-[20px] border border-gray-200 hover:shadow-lg transition w-64 p-4 flex flex-col items-center">
        <h3 class="text-lg font-semibold text-red-600 text-center">Avoid</h3>
        <div class="flex flex-wrap justify-center gap-2 mt-2">
          {ji.map(item => <span class="bg-black-100 px-3 py-1 rounded-lg w-full text-center">{item}</span>)}
        </div>
      </div>

    </div>
  </Card>
</section>

