---
import SectionTitle from "../ui/SectionTitle.astro";
import TeamCard from "../ui/TeamCard.astro";
import Section from "./Section.astro";
import { apiRequest } from '../../utils/api';
import PriTeamForm from '../jsx/PriTeamForm.jsx';
import Card from "../ui/Card.astro";
const description =
  "It gathers deceased celebrities, displays their life stories and achievements, allows netizens to pay tribute and leave messages, and enables their spirits to continue in the virtual space.";



const team = await apiRequest(
        "/privateDeceased",
        "GET",
        {},
        Astro,
      )|| [];
---

<Section id="about">
  <div class="mb-5">
    <SectionTitle sectionTitle="Memorial Hall" description={description} />
    <div
      class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 grid-rows-2 gap-10"
    >

        <Card isUnderline={true}>
        <PriTeamForm client:load />
        </Card>
      {
        Array.isArray(team) && team.map((member, index) => (
          <TeamCard
            key={index}
            pic={member.pic_url}
            name={member.name}
            birth_date={member.birth_date}
            death_date={member.death_date}
            description={member.biography}
            link=`/deceased/${member.id}`
          />
        ))
      }
    </div>
  </div>
</Section>
