---
import SectionTitle from "../ui/SectionTitle.astro";
import TeamCard from "../ui/TeamCard.astro";
import AddTeamCard from "../ui/AddTeamCard.astro";
import Section from "./Section.astro";
import { apiRequest } from '../../utils/api';
import ModalForm from '../ModalForm';
import modalStyles from '../../utils/formConfigs/modal';

const formFields = [
    { name: 'Picture', label: 'Picture', type: 'file' },
    { name: 'Title', label: 'Title', type: 'text' },
    { name: 'Time', label: 'Time', type: 'month' },
    { name: 'Description', label: 'Description', type: 'textarea' }
];

const description =
  "Meet the skilled and experienced team behind our successful digital marketing strategies";

// Team images
import p1 from "../../assets/team/d1.png";
import p2 from "../../assets/team/d2.png";
import p3 from "../../assets/team/d3.png";
import p4 from "../../assets/team/d4.png";
import p5 from "../../assets/team/d5.png";
import p6 from "../../assets/team/d6.png";
import p7 from "../../assets/team/d7.png";
import p8 from "../../assets/team/d8.png";
import p9 from "../../assets/team/d9.png";
import p10 from "../../assets/team/d10.png";
import p11 from "../../assets/team/d11.png";

const team = await apiRequest(
        "/CRUD/Deceased",
        "GET",
        {},
        false
      )|| [];

---

<Section id="about">
  <div class="mb-5">
    <SectionTitle sectionTitle="Memorial Hall" description={description} />
    <div
      class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 grid-rows-2 gap-10"
    >
        <ModalForm
            apiUrl="/CRUD/Deceased"
            method="POST"
            fields={formFields}
            submitText="Submit"
            cancelText="Cancel"
            classConfig={modalStyles}
            onSuccess={() => {
                alert('Success');
                window.location.reload();
            }}
            client:load
            >
            <AddTeamCard />
        </ModalForm>
      {
        team.map((member, index) => (
          <TeamCard
            key={index}
            pic={member.pic}
            name={member.name}
            role={member.role}
            description={member.description}
            link={member.link}
          />
        ))
      }
    </div>
    <div class="flex justify-end mt-10">
      <button class="btn-primary">See all team</button>
    </div>
  </div>
</Section>
