---
import SectionTitle from "../ui/SectionTitle.astro";
import ServiceCard from "../ui/ServiceCard.astro";
import Section from "./Section.astro";

import c1 from "../../assets/pics/card-pic1.svg";
import c2 from "../../assets/pics/card-pic2.svg";
import c3 from "../../assets/pics/card-pic3.svg";
import c4 from "../../assets/pics/card-pic4.svg";
import c5 from "../../assets/pics/card-pic5.svg";
import c6 from "../../assets/pics/card-pic6.svg";

const cards = [
  {
    index: 1,
    titleTop: "Public",
    titleBottom: "Memorial Hall",
    img: c1,
    alt: "SEO",
    link: "/memorial-hall",
  },
  {
    index: 2,
    titleTop: "Private",
    titleBottom: "Memorial Hall",
    img: c2,
    alt: "SEO",
    link: "/private-memorial-hall",
  },
  {
    index: 3,
    titleTop: "Family",
    titleBottom: "Tree",
    img: c3,
    alt: "SEO",
    link: "/tree",
  },
  {
    index: 1,
    titleTop: "Conversations",
    titleBottom: "with the Deceased",
    img: c4,
    alt: "SEO",
    link: "https://google.com",
  },
  {
    index: 2,
    titleTop: "Sacrificial",
    titleBottom: "Repository",
    img: c5,
    alt: "SEO",
    link: "/repository",
  },
  {
    index: 3,
    titleTop: "Chinese",
    titleBottom: "Almanac",
    img: c6,
    alt: "SEO",
    link: "https://google.com",
  },
];

const description =
  "In our digital memorial space, we provide compassionate tools to honor and preserve legacies in the digital age. These thoughtfully designed services include";
---

<Section id="services">
  <div class="mb-5">
    <SectionTitle sectionTitle="Services" description={description} />
    <div class="grid lg:grid-cols-2 lg:grid-rows-3 gap-10">
      {
        cards.map((card) => (
          <ServiceCard
            index={card.index}
            titleTop={card.titleTop}
            titleBottom={card.titleBottom}
            img={card.img}
            alt={card.alt}
            link={card.link}
          />
        ))
      }
    </div>
  </div>
</Section>
