---
import MainLayout from "../../layouts/MainLayout.astro";
import AboutCard from "./AboutCard.astro";
import Oblation from "../../components/sections/Oblation.astro";
import Testimonials from "./Testimonials.astro";
import { apiRequest } from '../../utils/api';
import MountainPhysics from "../../components/sections/MountainPhysics.astro";
import AiForm from '../../components/jsx/AiForm.jsx';
import PriTeamFormModify from '../../components/jsx/PriTeamFormModify.jsx';
import DeleteButton from '../../components/jsx/DeleteButton.jsx';
import TimeLine from "./TimeLine.astro";
import Relationship from "./Relationship.astro";
import Section from "../../components/sections/Section.astro";
import SectionTitle from "../../components/ui/SectionTitle.astro";
import ModalKey from '../../components/ModalKey.jsx';

const { id } = Astro.params;
const auth=await apiRequest(
        `/checkAuth/${id}`,
        "GET",
        {},
        Astro
      );
if (!auth) {
  return Astro.redirect('/404');
}
const deceased = await apiRequest(
        "/crud/Deceased/get",
        "POST",
        {"id":id}
      ) || [];
const testimonialContent = {
  enable: true,
  title: "## Client Experiences",
  description: "_Voices from our community_",
  testimonials: [
    {
      avatar: "/images/oblation1.png",
      name: "Wreath"
    },
    {
      avatar: "/images/oblation2.png",
      name: "Joss Paper"
    },
    {
      avatar: "/images/oblation3.png",
      name: "Incense"
    },
    {
      avatar: "/images/oblation4.png",
      name: "Dessert"
    },
    {
      avatar: "/images/oblation5.png",
      name: "Tribute Meat"
    },
    {
      avatar: "/images/oblation6.png",
      name: "Liquor"
    }
  ]
}
const items = await apiRequest(`/decreasedOfferings/${id}`, 'GET');
---
<MainLayout title="Services">
	<main class="space-y-20">
        <div id="polling-anchor" data-id={id}></div>
        <script>
          import { initPolling } from '../../utils/notifications.js';
          const el = document.getElementById("polling-anchor");
          const id = el?.dataset?.id;
          initPolling(id);
        </script>
        <div class="py-0.5" />
        <div class="hajimi">
          <div class="hajimi-1">
            <MountainPhysics items={items} />
          </div>
          <div class="hajimi-2">
            <AboutCard PERSONAL_INFO={deceased}/>
          </div>
        </div>
        <Oblation testimonialData={testimonialContent} id={id}/>
        <Section>
            {deceased[0].is_private &&<div class="flex flex-col sm:flex-row gap-3">
            <ModalKey id={id} client:load>
                <button class="btn-primary items-center mb-5">
                Invite Key
                </button>
            </ModalKey>
                <PriTeamFormModify deceased={deceased[0]} client:load/>
                <DeleteButton id={id} client:load />
            </div>}
            <div class="mb-10"></div>
            <TimeLine id={id} modify={deceased[0].is_private}/>
            {deceased[0].is_private &&<Relationship id={id}/>}
                <SectionTitle
              sectionTitle="Echoes Beyond"
              description="Reconnect Through Voices and Reflections that Preserve the Essence of Those Who Linger in Memory"
            />
            <div class="max-w-[700px] mx-auto">
            <AiForm
                  client:load
                  name={deceased[0].name}
                  description={deceased[0].biography}
                  pic_url={deceased[0].pic_url}
            />
            </div>
            <Testimonials id={id}/>
        </Section>
	</main>
</MainLayout>

<style>
 .hajimi {
    display: grid;
    margin: 0 auto;
    position: relative;
    width: 100%;
    height: 600px;
 }

 .hajimi-1 {
    grid-area: 1/1;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
 }

 .hajimi-2 {
    grid-area: 1/1;
    pointer-events: none;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
 }
</style>