---

const {PERSONAL_INFO} = Astro.props;

const { birth_date,death_date, name, pic_url, biography } = PERSONAL_INFO[0];
---
<div class="flex flex-col justify-between">
    <div class="flex flex-col items-center align-middle">
        <div class="mx-4 w-fit rounded-xl">
            <div class="max-w-screen-lg px-4 md:px-8">
                <div class="grid items-center gap-8 sm:grid-cols-2">
                    <div class="flex flex-col mr-5 items-center justify-center sm:items-start" id="contentGrid">
                        <p class="mt-6 mb-4 text-sm font-semibold text-darkgray z-[1] md:text-base">
                            {birth_date} ~ {death_date}
                        </p>
                        <h1 class="mb-4 text-center text-2xl font-bold text-black z-[1] sm:text-left md:text-3xl">
                            {name}
                        </h1>

                        <p class="mb-8 text-center text-black z-[1] sm:text-left md:text-lg">
                            {biography}
                        </p>
                    </div>

                    <div class="relative mx-auto h-fit max-w-xs max-h-xs overflow-hidden rounded-full bg-gray object-cover object-center shadow-lg sm:max-w-md sm:max-h-md border-4 border-darkgray">
                        <img
                            src={pic_url}
                            alt="Portrait"
                            class="h-full w-full object-cover object-center aspect-[1/1] filter grayscale"
                        />
                    </div>
                </div>
                <div class="absolute left-0 rounded-[24px] w-1/2 top-1/2 -translate-y-1/2 bg-white/85 z-[0] transition-all" id="backgroundLayer"></div>
            </div>
        </div>
    </div>
</div>

<script>
    function updateBackgroundHeight() {
        const grid = document.getElementById('contentGrid');
        const background = document.getElementById('backgroundLayer');

        if (grid && background) {
                const gridHeight = grid.offsetHeight;
            background.style.height = `${gridHeight + 30}px`;
        }
    }

    document.addEventListener('DOMContentLoaded', () => {
        updateBackgroundHeight();
    });
</script>