---
const {id} = Astro.props;
import TimeLineCard from "./TimeLineCard.astro";
import SectionTitle from "../../components/ui/SectionTitle.astro";
import { apiRequest } from '../../utils/api';
import TimeLineForm from '../../components/jsx/TimeLineForm.jsx';
import TimeLineFormDelete from '../../components/jsx/TimeLineFormDelete.jsx';
const pics = await apiRequest(`/timeLine/${id}`, 'GET')||[];
const options = pics.map(pic => ({
  value: pic.id,
  label: pic.title
}));
const hasPics = Array.isArray(pics) && pics.length > 0;
---
<SectionTitle
              sectionTitle="TimeLine"
              description="Relive the Milestones and Precious Sequences that Shaped a Treasured Existence"
            />
{hasPics && (
<section class="flex flex-col pt-16 gap-16 mx-auto justify-center items-center text-cente max-w-[900px] shadow-xl rounded-2xl mb-20" id="timeLine" >
    <div class="relative flex flex-col gap-20 px-10 w-full" >
        {pics.map((pic) => <TimeLineCard {...pic} />)}
        <div
            class="absolute left-0 border-l-[1px] h-full z-[-1] border-dashed border-light-gray-secondary dark:border-dark-gray-secondary sm:left-[50%]"
        >
        </div>
    </div>
</section>
)}
<div class="flex flex-col sm:flex-row justify-center items-center text-center mb-20">
        <div class="flex-1">
            <TimeLineForm client:load id={id} />
        </div>
        <div class="flex-1">
            <TimeLineFormDelete client:load options={options} />
        </div>
    </div>
<script>
    const $accordionButtons = document.querySelectorAll(".accordion-button");
    $accordionButtons.forEach((btn) => {
        btn.addEventListener("click", (event) => {
            const accordionId = event.currentTarget.getAttribute("data-target");
            const $accordion = document.getElementById(accordionId);
            $accordion.classList.toggle("expanded");
            event.currentTarget.classList.toggle("expanded");
        });
    });

    document.addEventListener('DOMContentLoaded', () => {
        // Select all image elements inside .job-picture
        const images = document.querySelectorAll('.job-picture img');

        // Loop through each image and add a click event listener
        images.forEach(img => {
            img.addEventListener('click', function () {
                // If the clicked image already has the .enlarged class, remove it
                if (this.classList.contains('enlarged')) {
                    this.classList.remove('enlarged');
                    this.parentElement.parentElement.classList.remove('enlarged');
                    this.parentElement.parentElement.style.marginBottom='';
                } else {
                    images.forEach(image => image.classList.remove('enlarged'));
                    images.forEach(image => image.parentElement.parentElement.classList.remove('enlarged'));
                    images.forEach(image => image.parentElement.parentElement.style.marginBottom='');
                    // Otherwise, toggle the .enlarged class to enlarge it
                    this.classList.add('enlarged');
                    this.parentElement.parentElement.classList.add('enlarged');
                    const calculatedHeight = this.parentElement.parentElement.getAttribute('data-calculated-height');
                    this.parentElement.parentElement.style.marginBottom=`${calculatedHeight}px`;
                }
            });
        });

        document.querySelectorAll('.job-picture img').forEach(img => {
          const handleLoad = () => {
            const naturalWidth = img.naturalWidth;
            const naturalHeight = img.naturalHeight;
            const article = img.closest('article');
            if (naturalWidth > 0) {
              const calculatedHeight = (naturalHeight / naturalWidth) * 200;
              article?.setAttribute('data-calculated-height', calculatedHeight.toString());
              article.style.minHeight = `${calculatedHeight}px`;
            }
          };

          if (img.complete) { // 如果图片已缓存
            handleLoad();
          } else {
            img.addEventListener('load', handleLoad);
          }
        });

    });
</script>
