---
import { Image } from "astro:assets";
import linkd from "../../assets/pics/profile-in.svg";
import Card from "./Card.astro";

const { pic, name, birth_date, death_date, description, link } = Astro.props;
---

<Card isUnderline={true}>
  <div class="p-[60px]">
    <div class="flex flex-col sm:flex-row relative">
      <picture class="w-[175px] h-[175px] shrink-0 rounded-lg overflow-hidden">
        <Image src={pic} alt={name} width="175" height="175" class="w-full h-full object-cover filter grayscale" />
      </picture>
      <div class="flex flex-col justify-end sm:ml-5">
        <h3 class="text-lg font-medium">{name}</h3>
      </div>
      <a
        href={link}
        class="absolute right-0 top-0 transition duration-500 hover:blur-xs blur-0"
      >
        <Image src={linkd} alt="Linkedin Logo" />
      </a>
    </div>
    <p class="text-sm font-normal my-4">{birth_date} ~ {death_date}</p>
    <div class="w-full h-[1px] bg-black my-4"></div>
    <div class="text-sm font-normal overflow-hidden text-ellipsis whitespace-pre-line line-clamp-3">
      {description}
    </div>
  </div>
</Card>